server:
  port: 8880

spring:
  profiles:
    active: dev
  application:
    name: gateway-service
  config:
    import: "optional:configserver:${CONFIG_SERVER_URL:http://localhost:8888}"

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus,env,circuitbreakers,circuitbreakerevents
  endpoint:
    prometheus:
      enabled: true
  security:
    enabled: false


logging:
  level:
    org.springframework.cloud.gateway: DEBUG
