server:
  port: 8080

spring:
  profiles:
    active: dev
  application:
    name: gateway-service
  config:
    import: "optional:configserver:http://localhost:8888"

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus,env
  security:
    enabled: false


logging:
  level:
    org.springframework.cloud.gateway: DEBUG
